html {
    box-sizing: border-box;
    overflow-y: hidden;
}
    
*, *:before, *:after {
    box-sizing: inherit;
}
    
* {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

body, html {
    height: 100%;
}

#wrapper {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: column;
    margin: .5% 1% 0% 1%;
    height: 98%;
}

#mid {
    display: flex;
    flex: .98;
    overflow: hidden;
}

#topmenu {
    flex-shrink: 0;
    margin: 0% 0% 2% 0%
}
    
#topmenu ul {
    display: flex;
    justify-content: space-around;
    margin: 1% 0% 0% 0%;
}

#topmenu a {
    border: solid;
    font-size: 1.5em;
    padding: 10px;
}

#topmenu li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}

#leftmenu, #rightmenu {
    border: solid;
    flex-grow: 1;
    flex-shrink: 1;
    width: 15%;
}

#leftmenu a {
    font-size: 1.5em;
}

#maincon {
    overflow-y: auto;
    border: solid;
    flex-grow: 0;
    margin: 0% 1% 0% 1%;
    width: 66%;
    padding: .5%;
    max-height: 100%;
}

#conmap {
    display: flex;
    justify-content: space-around;
    margin: 2% 0% 2% 0%;
}

#conmap img {
    width: 58%;
}

#maincon p {
    font-size: 1.4em;
}

#rightmenu {
    padding: 1% 0% 0% .5%;
}

#rightmenu h3, a {
    font-family: "Bellefair", serif;
}

#rightmenu ul {
    padding: 0% 0% 0% 8%;
    list-style: square;
}

#rightmenu h3 {
    font-size: 2em;
}

#rightmenu a {
    font-size: 1.5em;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    flex-grow: .02;
    flex-shrink: 1;
    border: solid;
    margin: .5% 0% 0% 0%;
    padding: .5% 0% 0% 0%;
    font-family: "Bellefair", serif;
}
